@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@import './assets/fonts/FoundersGrotesk.css';
@import './assets/fonts/Canela.css';
@import './assets/fonts/Voyage.css';
@import './assets/fonts/KarolSans.css';

@layer base {
  :root {
    --wedding-cream: #f3f2f1;
    --wedding-charcoal: #333333;

    /* @link https://utopia.fyi/type/calculator?c=360,16,1.333,1240,20,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --step--2: clamp(0.5628rem, 0.5373rem + 0.1135vw, 0.6252rem);
    --step--1: clamp(0.7502rem, 0.6954rem + 0.2433vw, 0.884rem);
    --step-0: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
    --step-1: clamp(1.333rem, 1.1553rem + 0.79vw, 1.7675rem);
    --step-2: clamp(1.7769rem, 1.4814rem + 1.3134vw, 2.4992rem);
    --step-3: clamp(2.3686rem, 1.8919rem + 2.1188vw, 3.5339rem);
    --step-4: clamp(3.1573rem, 2.4048rem + 3.3448vw, 4.997rem);
    --step-5: clamp(4.2087rem, 3.04rem + 5.1946vw, 7.0657rem);

    /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0cqi, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087cqi, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087cqi, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174cqi, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261cqi, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348cqi, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522cqi, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696cqi, 5rem);
    --space-3xl: clamp(2.75rem, 2.4891rem + 5.3043vw, 9.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435cqi, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522cqi, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522cqi, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043cqi, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413cqi, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087cqi, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261cqi, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174cqi, 7.5rem);

    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913cqi, 2.5rem);

    /* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --grid-max-width: 100rem;
    --grid-gutter: var(--space-xs-s, clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));
    --grid-columns: 12;
  }

  .u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
  }

  .u-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--grid-gutter);
  }

  html,
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Karol Sans', sans-serif;
  }

  body {
    background-color: var(--wedding-cream);
    /* color: var(--wedding-charcoal); */
  }

  .heading-1 {
    font-family: 'Karol Sans', sans-serif;
    color: #211d1d;
    font-size: var(--step-5);
    line-height: 1;
    /* letter-spacing: -0.08333vw; */
    font-weight: 500;
  }

  .heading-2 {
    font-family: 'Karol Sans', sans-serif;
    color: #211d1d;
    font-size: var(--step-4);
    line-height: 0.9;
    letter-spacing: 0.03em;
    font-weight: 300;
  }

  /* Body Text */
  .body {
    font-family: 'Karol Sans', sans-serif;
    color: #211d1d;
    font-size: var(--step-0);
    line-height: 1.48;
    letter-spacing: 0;
    font-weight: 300;
  }

  .eyebrow {
    font-family: 'Founders Grotesk' sans-serif;
    color: #284135;
    font-size: var(--step--1);
    line-height: 1;
    /* letter-spacing: 0.02778vw; */
    font-weight: 500;
  }

  .body-md {
    font-size: var(--step--1);
    font-weight: 400;
  }

  .caption {
    font-size: var(--step--1);
    letter-spacing: 0.08em;
    line-height: 1.25;
    text-transform: uppercase;
  }

  /* Display / Hero */
  .display {
    font-size: var(--step-7);
    font-weight: 800;
    line-height: 1.1;
  }

  h3 {
    font-size: 3.2rem;
  }

  * {
    margin: 0;
    padding: 0;
  }
}
