@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@import './assets/fonts/Voyage-Regular.css';

@layer base {
  :root {
    --font-serif: 'Voyage-Regular', serif;
    --wedding-cream: #fdf6f0;
    --wedding-charcoal: #333333;

    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326cqi, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087cqi, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174cqi, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696cqi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793cqi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651cqi, 2.4414rem);
    --step-4: clamp(1.2rem, 1.2rem + 2.304cqi, 3.0518rem);
    --step-5: clamp(1.5rem, 1.5rem + 8.7658cqi, 10rem);
    --step-7: clamp(1.5rem, 1.5rem + 20.7658cqi, 30rem);

    /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0cqi, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087cqi, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087cqi, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174cqi, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261cqi, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348cqi, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522cqi, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696cqi, 5rem);
    --space-3xl: clamp(2.75rem, 2.4891rem + 5.3043vw, 9.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435cqi, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522cqi, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522cqi, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043cqi, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413cqi, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087cqi, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261cqi, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174cqi, 7.5rem);

    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913cqi, 2.5rem);

    /* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --grid-max-width: 100rem;
    --grid-gutter: var(--space-s-m, clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));
    --grid-columns: 12;
  }

  .u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
  }

  .u-grid {
    display: grid;
    /* gap: var(--grid-gutter); */
    grid-template-columns: repeat(var(--grid-columns), 1fr);
  }

  html,
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  body {
    background-color: var(--wedding-cream);
    color: var(--wedding-charcoal);
    font-family: var(--font-serif);
  }

  .headline {
    font-size: var(--font-size-6);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
    font-weight: normal;
  }

  h3 {
    font-size: 3.2rem;
  }

  * {
    margin: 0;
    padding: 0;
  }
}
